.about__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  margin-top: 30px;
}

.about__info {
  margin-right: 50px;
  padding-bottom: 30px;
}

.about__map {
  min-width: 50%;
}


@media (max-width: $tablet-width) {
  .about__wrapper {
    flex-direction: column;
  }

  .about__info {
    margin-right: 0;
  }
}
