.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent-color;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Play", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
