.main-nav {
  background-color: #000000;
}

.main-nav__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav__link {
  display: flex;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.5s;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &:active {
    background-color: #303030;
  }
}

.main-nav__toggle {
  display: none;
}

@media (max-width: $tablet-width) {
  .main-nav__wrapper {
    min-width: 320px;
    }

  .main-nav__toggle {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 30px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-size: 20px 14px;
    background-position: center;
  }

  .main-nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    width: 100%;
  }

  .main-nav__link {
    width: 100%;
    justify-content: center;
  }

}
