
.phone__link {
  font-family: "Play", "Arial", sans-serif;
  font-size: 21px;
  position: relative;
  padding-left: 25px;
}

.phone__link::before {
  content: "";
  position: absolute;
  background-image: url("../img/phoneicon.svg");
  height: 21px;
  width: 23px;
  top: 3px;
  left: 0;
}
