.services__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.services__heading {
  position: relative;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-bottom: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.services__heading::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 200px;
  height: 3px;
  width: 100px;
  background-color: $accent-color;
}

.services__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services__item {
  width: 33%;
  height: 140px;
  margin-bottom: 20px;
  background-color: #363636;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.services__item:nth-child(4n) {
  margin-right: 0;
}

.services__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.7);
  text-align: center;
  margin: 0;
  font-family: "Play", "Arial", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  transition: background-color 0.5s;

  &:hover,
  &:focus {
    background-color: rgba($accent-color, 0.9);
  }
}

.services__item--interior_detail {
  background-image: url("../img/interior1.jpg");
}

.services__item--interior_protect {
  background-image: url("../img/interior2.jpg");
}

.services__item--engine {
  background-image: url("../img/engine.jpg");
}

.services__item--rims {
  background-image: url("../img/rims.jpg");
  background-position: center -50px;
}

.services__item--body_detail {
  background-image: url("../img/body1.jpg");
  background-position: center -25px;
}

.services__item--body_protect {
  background-image: url("../img/protect.jpg");
  background-position: center -45px;
}

@media (max-width: $tablet-width) {
  .services__wrapper {
    min-width: 320px;
  }

  .services__heading {
    width: 300px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      left: 100px;
    }
  }

  .services__list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .services__item {
    width: 100%;
  }

  .services__link {
    font-size: 17px;
    line-height: 20px;
  }
}
